<table>
    <tr>
        <td>Address: </td>
        <td><%= restaurant.address %></td>
    </tr>
    <tr>
        <td>Cuisine: </td>
        <td><%= restaurant.cuisine %></td>
    </tr>
    <tr>
        <td>Dress Code:</td>
        <td><%= restaurant.dress_code %></td>
    </tr>
    <tr>
        <td>Outdoor Seating: </td>
        <td><%= restaurant.outdoor_seating.yesno %></td>
    </tr>
     <tr>
        <td>Child Friendly: </td>
        <td><%= restaurant.child_friendly.yesno %></td>
    </tr>
     <tr>
        <td>BYOB: </td>
        <td><%= restaurant.byob.yesno %></td>
    </tr>
     <tr>
        <td>Open Bar: </td>
        <td><%= restaurant.open_bar.yesno %></td>
    </tr>
</table>