<h1>Restaurant Detail</h1>

<h2><%= @restaurant.name %></h2>

<%= render partial: "detail", locals: { restaurant: @restaurant } %>

<br>
<h3>Restaurant Dishes</h3>
<ul>
    <% @restaurant.dishes.each do |dish| %>
        <li><%= link_to "#{dish.name}", restaurant_dish_path(@restaurant, dish), html_options = { id: "index-link"} %></li>
        <ul>
            <li>Created By <%= dish.user_email %></li>
        </ul>
        <br>
    <% end %>
</ul>
<br>
<% if user_created_restaurant %>
    <%= link_to "Edit Restaurant Details", edit_restaurant_path(@restaurant), html_options = { id: "button"} %>
<% end %>
<br>
<br>
<%= link_to "Add Dish to Restaurant", new_restaurant_dish_path(@restaurant), html_options = { id: "button"} %><br>

